In [39]:
import pandas as pd 
import numpy as np

In [40]:
data=pd.read_csv("./cubic_zirconia.csv")

In [41]:
data.drop(labels=["Unnamed: 0"],axis=1,inplace=True)

In [42]:
data=data.dropna()

In [43]:
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [44]:
data.shape

(26270, 10)

In [45]:
x=data.drop(labels=["price"],axis=1)

In [46]:
y=data[["price"]]

In [47]:
x

       carat        cut color clarity  depth  table     x     y     z
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27

[26270 rows x 9 columns]

In [48]:
y

       price
0        499
1        984
2       6289
3       1082
4        779
...      ...
26962   5408
26963   1114
26964   1656
26965    682
26966   5166

[26270 rows x 1 columns]

In [49]:
x.select_dtypes(include='object')

             cut color clarity
0          Ideal     E     SI1
1        Premium     G      IF
2      Very Good     E    VVS2
3          Ideal     F     VS1
4          Ideal     F    VVS1
...          ...   ...     ...
26962    Premium     G     SI1
26963      Ideal     H      IF
26964    Premium     E     VS2
26965  Very Good     F    VVS2
26966    Premium     J     SI1

[26270 rows x 3 columns]

In [50]:
categorical_cols=x.select_dtypes(include='object').columns

In [51]:
categorical_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [52]:
numeric_cols=x.select_dtypes(exclude='object').columns

In [53]:
numeric_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [54]:
data.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z',
       'price'],
      dtype='object')

In [55]:
data.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [56]:
cut_categories=["Fair",'Good','Very Good','Premium','Ideal']
color_categories=['I','J', 'H','D','F','G','E']
clarity_categories=['I1', 'SI2','VS2','VVS1','VVS2','VS1', 'IF','SI1']

In [57]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import  ColumnTransformer

In [58]:
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer()),
        ('scaler',StandardScaler())
    ]
    )

In [59]:
cat_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy="most_frequent")),
        ('ordinal encoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [60]:
preprocessor=ColumnTransformer(

    [
        ('num_pipeline',num_pipeline,numeric_cols),
        ('cat_pipeline',cat_pipeline,categorical_cols)
    ]
)

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=30)

In [62]:
x_train.shape

(18389, 9)

In [63]:
x_train

       carat        cut color clarity  depth  table     x     y     z
11218   0.30    Premium     G    VVS1   60.7   58.0  4.34  4.36  2.64
23913   0.41       Good     E     SI2   63.2   58.0  4.68  4.72  2.97
25978   0.82      Ideal     F     SI2   62.4   54.0  5.97  6.02  3.74
23119   1.10  Very Good     E     SI1   61.3   58.0  6.64  6.71  4.09
15361   1.76      Ideal     I     VS1   62.0   57.0  7.74  7.71  4.79
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
514     1.53      Ideal     I     VS2   61.7   57.0  7.36  7.41  4.56
12415   0.72      Ideal     G     SI1   61.4   56.0  5.75  5.78  3.54
15683   2.01    Premium     F     SI2   61.3   58.0  8.14  8.07  4.97
4638    0.41      Ideal     F    VVS2   61.9   55.0  4.78  4.79  2.96
6083    1.01      Ideal     F    VVS2   61.8   56.0  6.49  6.46  4.00

[18389 rows x 9 columns]

In [64]:
preprocessor.fit_transform(x_train)

array([[-1.04615398, -0.74360812,  0.24497383, ...,  3.        ,
         5.        ,  3.        ],
       [-0.81422453,  1.02510572,  0.24497383, ...,  1.        ,
         6.        ,  1.        ],
       [ 0.05023978,  0.45911729, -1.5489012 , ...,  4.        ,
         4.        ,  1.        ],
       ...,
       [ 2.55929473, -0.3191168 ,  0.24497383, ...,  3.        ,
         4.        ,  1.        ],
       [-0.81422453,  0.10537452, -1.10043244, ...,  4.        ,
         4.        ,  4.        ],
       [ 0.45084519,  0.03462597, -0.65196368, ...,  4.        ,
         4.        ,  4.        ]])

In [65]:
x_train.shape

(18389, 9)

In [66]:
preprocessor.transform(x_test)

array([[-0.16060517,  0.52986585,  0.24497383, ...,  2.        ,
         4.        ,  2.        ],
       [-1.04615398,  0.24687163, -1.10043244, ...,  4.        ,
         6.        ,  2.        ],
       [ 0.45084519,  0.45911729,  1.59038011, ...,  1.        ,
         5.        ,  4.        ],
       ...,
       [-0.75097104, -0.10687114, -0.65196368, ...,  4.        ,
         3.        ,  7.        ],
       [-0.51904159, -0.17761969, -0.20349492, ...,  4.        ,
         6.        ,  5.        ],
       [-0.51904159,  0.17612308, -1.01073869, ...,  2.        ,
         2.        ,  2.        ]])

In [67]:
preprocessor.get_feature_names_out()

array(['num_pipeline__carat', 'num_pipeline__depth',
       'num_pipeline__table', 'num_pipeline__x', 'num_pipeline__y',
       'num_pipeline__z', 'cat_pipeline__cut', 'cat_pipeline__color',
       'cat_pipeline__clarity'], dtype=object)

In [68]:
x_train

       carat        cut color clarity  depth  table     x     y     z
11218   0.30    Premium     G    VVS1   60.7   58.0  4.34  4.36  2.64
23913   0.41       Good     E     SI2   63.2   58.0  4.68  4.72  2.97
25978   0.82      Ideal     F     SI2   62.4   54.0  5.97  6.02  3.74
23119   1.10  Very Good     E     SI1   61.3   58.0  6.64  6.71  4.09
15361   1.76      Ideal     I     VS1   62.0   57.0  7.74  7.71  4.79
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
514     1.53      Ideal     I     VS2   61.7   57.0  7.36  7.41  4.56
12415   0.72      Ideal     G     SI1   61.4   56.0  5.75  5.78  3.54
15683   2.01    Premium     F     SI2   61.3   58.0  8.14  8.07  4.97
4638    0.41      Ideal     F    VVS2   61.9   55.0  4.78  4.79  2.96
6083    1.01      Ideal     F    VVS2   61.8   56.0  6.49  6.46  4.00

[18389 rows x 9 columns]

In [69]:
x_test

       carat        cut color clarity  depth  table     x     y     z
26786   0.72  Very Good     F     VS2   62.5   58.0  5.71  5.75  3.58
20047   0.30      Ideal     E     VS2   62.1   55.0  4.30  4.33  2.68
21674   1.01       Good     G    VVS2   62.4   61.0  6.34  6.38  3.97
20202   0.50    Premium     E     SI1   60.2   58.0  5.18  5.15  3.11
18365   0.76    Premium     D     VS2   60.9   58.0  5.90  5.85  3.58
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
20777   0.43  Very Good     H     SI1   61.5   58.0  4.80  4.86  2.97
6245    1.21    Premium     H     SI2   62.1   56.0  6.80  6.76  4.21
14513   0.44      Ideal     D     SI1   61.6   56.0  4.90  4.93  3.03
2190    0.55      Ideal     E     VS1   61.5   57.0  5.27  5.23  3.23
17802   0.55  Very Good     H     VS2   62.0   55.2  5.28  5.31  3.28

[7881 rows x 9 columns]

In [70]:
x_train=pd.DataFrame(preprocessor.fit_transform(x_train),columns=preprocessor.get_feature_names_out())
x_test=pd.DataFrame(preprocessor.transform(x_test),columns=preprocessor.get_feature_names_out())

In [71]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [72]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [73]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [75]:
models

{'LinearRegression': LinearRegression(),
 'Lasso': Lasso(),
 'Ridge': Ridge(),
 'Elasticnet': ElasticNet()}

In [76]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [77]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [74]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [80]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train_train,y_train)

    #Make Predictions
    y_pred=model.predict(x_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1953.4420987935393
MAE: 927.7368611736339
R2 score 76.89862684241666
===================================


Lasso
Model Training Performance
RMSE: 1720.8437931381368
MAE: 923.576713887745
R2 score 82.07250505162871
===================================


Ridge
Model Training Performance
RMSE: 1916.6703936884728
MAE: 927.2182776335562
R2 score 77.76016410655464
===================================


Elasticnet
Model Training Performance
RMSE: 1804.4144501715948
MAE: 1199.275244557674
R2 score 80.28897076445783
===================================

c:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.093e+08, tolerance: 2.948e+07
  model = cd_fast.enet_coordinate_descent(

In [81]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [82]:
r2_list

[0.7689862684241666,
 0.8207250505162871,
 0.7776016410655464,
 0.8028897076445783]